Andraž Levstik <ruskie+2054d253@codemages.net> Andraž Levstik <ruskie@mages.ath.cx>
Andraž Levstik <ruskie+2054d253@codemages.net> Andraž "ruskie" Levstik <ruskie@mages.ath.cx>
Andraž Levstik <ruskie+2054d253@codemages.net> root <root@omega.(none)>
Andraž Levstik <ruskie+2054d253@codemages.net> root <root@freya.(none)>
Andraž Levstik <ruskie+2054d253@codemages.net> Andraž Levstik <ruskie@codemages.net>
Eric Sandall <sandalle@sourcemage.org> Eric Sandall <eric@sandall.us>
David Michael Leo Brown Jr <dmlb2000@gmail.com> David Brown <dmlb2000@gmail.com>
David Michael Leo Brown Jr <dmlb2000@gmail.com> David Brown <dmlb2000@dmlb2000.(none)>
Julien ROZO <julien@rozo.org> Julien ROZO <kaze@maxikaze.KAZE>
Pieter Lenaerts <e-type@sourcemage.org> Pieter Lenaerts <pieter@agoraeus.(none)>
Thomas Orgis <sobukus@sourcemage.org> Thomas Orgis <orgis@adams.agnld.uni-potsdam.de>
