[Desktop Entry]
Encoding=UTF-8
Name=Offensive Fortunes
Exec=xmessage `fortune -o`
Icon=
Terminal=false
Type=Application
Categories=Application;Game;Fun;
