[Desktop Entry]
Encoding=UTF-8
Name=Flight of the Amazon Queen
Exec=flight_of_the_amazon_queen
Icon=/usr/share/games/flight_of_the_amazon_queen/fotaq-icon.png
Terminal=false
Type=Application
Categories=Application;Game;
