[Desktop Entry]
Encoding=UTF-8
Name=Frozen Bubble Editor
Exec=frozen-bubble-editor
Icon=
Terminal=false
Type=Application
Categories=Application;Game;
